# Maven build output - never commit
target/

# NetBeans IDE files
nb-configuration.xml
nbactions.xml
nbproject/
.nb-gradle/

# IntelliJ IDEA - ignore everything inside .idea recursively
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db